<config>
    <server>
        <connector>
            <host>0.0.0.0</host>
            <port>8080</port>
        </connector>
        
        <thread-pool>
            <min-threads>2</min-threads>
            <max-threads>5</max-threads>
            <low-threads>1</low-threads>
            <shrink>1</shrink>
        </thread-pool>
    </server>
    
    <users>
        <mscg>
            <password-enc>3489231b7975617f6ae4b6a8da5c1e04</password-enc>
        </mscg>
    </users>
    
    <sessions>
        <timeout>300000</timeout>
    </sessions>
    
    <applications>
        <terminate-on-exit>true</terminate-on-exit>
    
        <application>
            <id>100</id>
            <name>Notepad++</name>
            <commandline><![CDATA["C:/Program Files/Notepad++/notepad++.exe"]]></commandline>
        </application>
        <application>
            <id>200</id>
            <name>Chrome</name>
            <commandline><![CDATA["C:/Users/Giuseppe Miscione/AppData/Local/Google/Chrome/Application/chrome.exe"]]></commandline>
        </application>
    </applications>
    
</config>