<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>evo-backend</contextName>

	<jmxConfigurator contextName="evo-backend" />

	<appender name="VO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>log/evo/backend.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{DATE} %5p [%30.30c:%4L] %m%n</Pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>5</maxIndex>
			<FileNamePattern>log/evo/backend.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2mb</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<root>
		<appender-ref ref="VO" level="ERROR" />
	</root>
	<logger name="eni.virtualoffice">
		<level value="DEBUG" />
	</logger>
</configuration>
