.clear {
	clear: both;
}

.login .label, .login .value {
	float: left;
    padding-bottom: 5px;
}

.login .label {
	display: inline;
	width: 7em;
	
}

.login .value {
	display: block;
}

.login .error {
	font-size: 13pt;
	color: red;
}

.login .header {
	margin: 3em;
	font-weight: bold;
}

.logout {
	float: right;
	margin-bottom: 10px;
}